@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: "Montserrat";
}
#title{
    background-color: rgb(245, 81, 109);
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 14%;
}
h1{
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
}
.navbar{
    color: black;
    padding: 0 10% 3% 0;

}
.navbar-brand{
    font-size: 1.5rem;
    font-family: Ubuntu-light;
}
.title-image{
    width:60%;
    transform: rotate(25deg);
    position: absolute;
    right:15%
}

#features{
    padding: 10%;
    text-align: center;
    position: relative;
    background-color: #fff;
}
.feature-font{
    color: rgb(245, 81, 109);

}
.feature-font:hover{
    color: rgb(240, 59, 59);
}

#testimonials{
    background-color: rgb(245, 81, 109);
    text-align: center;
    font-family: 'Montserrat';
    color: #fff;
  
}
.testimonial-text{
    font-size: 3rem;
    margin: 20px 50px 20px 50px;
    padding: 7% 15%
}

h3{
    font-family: "Montserrat";
}
.testimonial-image{
    width: 10%;
    border-radius: 50%;
}

#press{
    background-color: rgb(245, 81, 109);
    padding: 2% 5%;
    text-align: center;
}
.press-image{
    width: 15%;
    margin: 0px 30px 20px 30px;
}

#pricing{
    padding: 100px;
}
.card{
    padding:10px;
}

@media (max-width:992px){
    #title{
        text-align: center;
    }
    .title-image{
        padding: 30px;
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: rgb(247, 101, 125);
    color: white;
    height: 200px;
    text-align: center;
    padding: 40px;
}
#footer{
    height: 200px;
    text-align: center;
}